@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100&family=Barlow:wght@100&family=Comfortaa&family=Dosis:wght@200;500&family=Meow+Script&family=Oxygen&family=Pacifico&family=Quicksand:wght@300;400&family=Water+Brush&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px red solid; */
}

body {
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(#fda583, #d38deb);
  display: flex;
  flex-direction: column;
}
/* ///////////////////////// */
/* drum machine box style */
/* ///////////////////////// */
main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.machine-container {
  height: 50vh;
  width: 50vw;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.h1-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-size: 1.1em;
  font-family: 'Quicksand', sans-serif;
  position: relative;
  top: 0vh;
  color: #333;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 100%;
  gap: 40px;
}

.btn {
  border-style: none;
  width: 20ch;
  height: 5ch;
  border-radius: 10px;
  background-color: #4a3f50;
  font-family: 'Dosis', sans-serif;
  color: #fff;
}

.copyright {
  height: 50px;
  font-family: 'Oxygen', sans-serif;
  color: #333;
  font-size: 0.8em;
}
